{% extends "core/base.html" %}

 {% load static %}

 {% block title %}

 Contact
 {% endblock title %}

{% block content %}



    <div class="error-page">
        <div class="middle">
            <h1>COMING SOON</h1>
            <h4>Oops! This page can't be found</h4>
            <p>Sorry, but the page you are looking for does not exist or has been removed.</p>
        </div>
    </div>

	<!-- ==============================================
	JAVASCRIPTS
	=============================================== -->
    <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/loader.js' %}"></script>
    <script src="{% static 'js/top.js' %}"></script>
    
    <a href="#0" class="cd-top">Top</a>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','../../../www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-101241150-1', 'auto');
      ga('send', 'pageview');
    </script> 
    
    {% endblock content %}