
{% load static %}
<!DOCTYPE html>
<html lang="en">

<!-- auth-register.html  Tue, 07 Jan 2020 03:39:47 GMT -->
<head>
<meta charset="UTF-8">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
<title>Register &mdash; Finnexia</title>

<!-- General CSS Files -->
<link rel="stylesheet" href="{% static 'assets/modules/bootstrap/css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/modules/fontawesome/css/all.min.css' %}">

<!-- CSS Libraries -->
<link rel="stylesheet" href="{% static 'assets/modules/jquery-selectric/selectric.css' %}">

<!-- Template CSS -->
<link rel="stylesheet" href="{% static 'assets/css/style.min.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/components.min.css' %}">
<link rel="shortcut icon" href="{% static 'logo.png' %}" type="image/x-icon">

</head>

<body class="layout-4">

<div id="app">
    <section class="section">
        <div class="container mt-5">
            <div class="row">
                <div class="col-12 col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-8 offset-lg-2 col-xl-8 offset-xl-2">
                    <div class="login-brand">
                        <a href="/">
                        <img src="{% static 'img/master/logo.png' %}" alt="logo" width="130" class="shadow-light rounded-circle">

                        </a>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h4>Register</h4>
                        </div>
                        <div class="card-body">
                            <form method="POST">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label for="frist_name">First Name</label>
                                        <input id="frist_name" type="text" class="form-control" name="frist_name" autofocus>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="last_name">Last Name</label>
                                        <input id="last_name" type="text" class="form-control" name="last_name">
                                    </div>

{% comment %} //////////////////////////////////////////////////////// {% endcomment %}
                                    <div class="form-group col-6">
                                        <label for="frist_name">Date of Birth </label>
                                        <input id="frist_name" type="date" class="form-control" name="date" autofocus>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="number">Phone </label>
                                        <input id="last_name" type="number" class="form-control" name="number">
                                    </div>

{% comment %} ending here  {% endcomment %}

                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input id="email" type="email" class="form-control" name="email">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="address">Home Address</label>
                                    <input id="address" type="address" class="form-control" name="address">
                                    <div class="invalid-feedback">
                                    </div>
                                </div>

                        

                                <div class="row">

                                    <div class="form-group col-6">
                                        <label for="city">City </label>
                                        <input id="city" type="text" class="form-control" name="City" placeholder='City' autofocus>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="state">State/ Province </label>
                                        <input id="state" type="text" class="form-control" placeholder='Enter state/ province' name="state">
                                    </div>

                                    
                                        <div class="form-group col-6">
                                            <label>Country</label>
                                            <select class="form-control selectric">
                                                <option>USA</option>
                                                <option>Palestine</option>
                                                <option>Syria</option>
                                                <option>Malaysia</option>
                                                <option>Thailand</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-6">
                                            <label>Occupation</label>
                                            <select class="form-control selectric">
                                                <option>select type of Employment</option>
                                                <option>Self Employed</option>
                                                <option>Public/Government Office</option>
                                                <option>Private/Partnership Office</option>
                                                <option>Business/Sales </option>
                                                <option>Trading/Market</option>
                                                <option>Politician/Celebrity</option>
                                            </select>
                                        </div>
                                    

                                    
                                </div>
                                <div class="form-divider">Personal Details</div>
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label>Account Type</label>
                                        <select class="form-control selectric">
                                            <option>please select Account Type</option>
                                            <option>Saving Account</option>
                                            <option>Fixed Account</option>
                                            <option>current Account</option>
                                            <option>Business Account</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Account Currency</label>
                                        <select class="form-control selectric">
                                            <option>American (United States) Dollars - USD </option>
                                            <option>Australia Dollars</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6">
                                        <label for="Username" class="d-block">Username</label>
                                        <input id="Username" type="text" class="form-control pwstrength" data-indicator="pwindicator" name="Username">
                                        <div id="pwindicator" class="pwindicator">
                                            <div class="bar"></div>
                                            <div class="label"></div>
                                        </div>
                                    </div>
    
    
                                    <div class="form-group col-6">
                                        <label for="access" class="d-block">Access Code</label>
                                        <input id="access" type="password" class="form-control pwstrength" data-indicator="pwindicator" name="access">
                                        <div id="pwindicator" class="pwindicator">
                                            <div class="bar"></div>
                                            <div class="label"></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="password" class="d-block">Password</label>
                                        <input id="password" type="password" class="form-control pwstrength" data-indicator="pwindicator" name="password">
                                        <div id="pwindicator" class="pwindicator">
                                            <div class="bar"></div>
                                            <div class="label"></div>
                                        </div>
                                    </div>
                                    <div class="form-group col-6">
                                        <label for="password2" class="d-block">Password Confirmation</label>
                                        <input id="password2" type="password" class="form-control" name="password-confirm">
                                    </div>
    
                                </div>

                               


                                {% comment %} <div class="row">
                                    <div class="form-group col-6">
                                        <label>City</label>
                                        <input type="text" class="form-control">
                                    </div>
                                    <div class="form-group col-6">
                                        <label>Postal Code</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div> {% endcomment %}
                                <div class="form-group">
                                    <div class="custom-control custom-checkbox">
                                        <input type="checkbox" name="agree" class="custom-control-input" id="agree">
                                        <label class="custom-control-label" for="agree">I agree with the terms and conditions</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="simple-footer">
                        &copy; 2024 Unity Trust. ALL RIGHTS RESERVED.
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

<!-- General JS Scripts -->
<script src="{% static 'assets/bundles/lib.vendor.bundle.js' %}"></script>
<script src="{% static '.js/CodiePie.js' %}"></script>

<!-- JS Libraies -->
<script src="{% static 'assets/modules/jquery-pwstrength/jquery.pwstrength.min.js' %}"></script>
<script src="{% static 'assets/modules/jquery-selectric/jquery.selectric.min.js' %}"></script>

<!-- Page Specific JS File -->
<script src="{% static '.js/page/auth-register.js' %}"></script>

<!-- Template JS File -->
<script src="{% static '.js/scripts.js' %}"></script>
<script src="{% static '.js/custom.js' %}"></script>
</body>

<!-- auth-register.html  Tue, 07 Jan 2020 03:39:48 GMT -->
</html>